.box {
    border: 2px solid black;
    color: red;
    flex-basis: calc((100% / 16) - 5px);
    box-sizing: border-box;
}

.div_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    min-height: 98vh;
}

.active-hover-effect:hover {
    background-color: red;
}