.box {
    border: 2px solid black;
    color: red;
    flex-basis: calc((100% / 16) - 5px);
    box-sizing: border-box;
}

.div_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    min-height: 98vh;
}

body {
    overflow: hidden;
}

.trail {
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: fadeAndShrink 0.8s ease-out forwards;
}

@keyframes fadeAndShrink {
   0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
   }

   100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.1);
   }
}